<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titolo</title>
    <meta charset="UTF-8">
    <meta name="description" content="Descrizione">
    <meta name="author" content="Davide Pisanò">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "Music recognition AI",
          "image": [
            "https://davidesnotes.com/articles/2/img/SEO/1x1.webp",
            "https://davidesnotes.com/articles/2/img/SEO/4x3.webp",
            "https://davidesnotes.com/articles/2/img/SEO/16x9.webp"
           ],
          "datePublished": "2021-09-04T13:20:37+02:00",
          "dateModified": "2021-09-04T17:08:26+02:00",
          "author": [{
              "@type": "Person",
              "name": "Davide Pisanò",
              "url": "https://davidesnotes.com"
            }]
        }
    </script>

    <link rel="stylesheet" href="../../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <script src="../../js/page_manager.js"></script>
</head>

<body>
    <h1>Titolo</h1>

    Intro.

    <div id="page0" class="page">
        <h2>0. Intro</h2>

        <!--<img src="img/mq7.svg" loading="lazy" style="float:right;width:25%;" alt="MQ-7 sensor">-->
        
        \(SnO_2\) 
        \[{SnO_2}_{(s)} + 2CO_{(g)} \rightleftharpoons Sn_{(s)} + {2CO_2}_{(g)}\]
    </div>

    <div id="navigation-bar">
        <a href="#" onclick="goPrev();" id="navigate-left">&lt;&lt; Previous</a>
        <a href="#" onclick="goNext();" id="navigate-right">Next &gt;&gt;</a>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</body>
</html>